<div class="container">
  <div class="input-form-container">
  <div class="row">
    <form class="form-horizontal col-sm-offset-3 col-md-6">
      <div class="form-group">
        <input type="text" class="form-control input-lg" ng-model="usuario.nombre" placeholder="Nombre"
               ng-minlength="3"
               ng-maxlength="10"
               required/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" ng-model="usuario.apellido" placeholder="Apellido"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" ng-model="usuario.email" placeholder="Email"/>
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-lg" ng-model="usuario.password" placeholder="Password"/>
      </div>
      <div class="form-group">
        <a ng-click="agregarEmpleado()" href="#/admin/listadoempleados" class="btn btn-danger btn-lg btn-block">Agregar Empleado</a>
      </div>
    </form>
  </div>
  </div>
</div>
