 <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Confirmar borrado</h4>
    </div>

    <div class="modal-body">
      <p>¿Esta seguro que desea eliminar el teatro?</p>
      <p class="debug-url"></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancelar</button>
      <button type="button" ng-click="confirmDeleteTeatro(teatroSelected)" class="btn btn-danger btn-ok">ELIMINAR</button>
    </div>
  </div>
