

<div class="container">
<div class="div-form">
  <img src="images/favio-posca.jpg" class="img-thumbnail"/>

  <div class="panel panel-default ">
    <div class="panel-heading black-bg">
      <h3 class="panel-title"> FAVIO POSCA - PAINKILLER </h3>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3  class="panel-title">SINOPSIS
      </h3>
    </div>
    <div class="panel-body">
      Un nuevo fuego sagrado se enciende.
      La ardiente chispa creativa estalla crujiente sobre las tablas de la Picasso.
      El retorno al hogar divino, donde caída la noche, cada ser atravesara su historia, su secreto, para reír despojadamente, libre de apariencias, sumergiéndose en mundos de ficción, aquellos que tientan, cosquillean, empujan, sonríen con el espectador anónimo, quien como un viajero osado apoya por un rato su equipaje para descansar riendo, sintiendo, rozando sus más allá.
    </div>

  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Funciones</h3>
    </div>
    <div class="panel-body">

      <ul class="list-group">
        <li class="list-group-item">

        <p>Jueves, 09 de julio de 2015 23:30 <button class="btn-small btn-primary :hover">Comprar</button> </p>

        </li>


        <li class="list-group-item">

        <p> Viernes, 10 de julio de 2015 23:30  <button class="btn-small btn-primary :hover">Comprar</button> </p>
        </li>


        <li class="list-group-item">

          <p> Sabado, 11 de julio de 2015 23:30  <button class="btn-small btn-primary :hover">Comprar</button></p>
        </li>
      </ul>

    </div>

  </div>

</div>
</div>
