<div class="container">
  <div class="input-form-container"> 

   <!-- <div class="form-group">
      <div class="col-md-4">
        <select class="form-control">
          <option value="1">Ventas historias de un mes</option>
          <option value="2">Ventas Generales entre un rango de fechas</option>

        </select>

      </div>
    </div>-->

    <div>
    </div>

    <div id="contenedor2"></div><br>


          <highchart id="chart1" config="chartConfig" class="span10"></highchart>


</div>
</div>
