<div class="container">
  <div class="div-form">
    <img src="images/favio-posca.jpg" class="img-thumbnail"/>

    <div class="panel panel-default ">
      <div class="panel-heading black-bg">
        <h3  class="panel-title"> {{ espectaculo.nombre}}  </h3>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3  class="panel-title">SINOPSIS
        </h3>
      </div>
      <div class="panel-body">
         {{ espectaculo.descripcion }}
      </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Funciones</h3>
      </div>
      <div class="panel-body">
        <button class="btn-small btn-primary :hover"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Funcion</button>
        <p></p>
        <ul class="list-group">
          <li ng-repeat="e in datos"class="list-group-item">


            <p> {{ e.fecha | date:'fullDate' }} a las {{ e.fecha | date:'h:mma'}}
              <button class="btn-small btn-primary :hover"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</button>
              <button class="btn-small btn-primary :hover"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Eliminar</button>
            </p>

          </li>
        </ul>

      </div>

    </div>

  </div>
</div>

