<div class="container">
  <div class="input-form-container">
    <button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
      <i class="glyphicon glyphicon-plus">
      </i> Add random item
    </button>
    <p></p>
    <table class="table table-striped" at-table at-paginated at-list="list" at-config="config">
      <thead></thead>
      <tbody>
      <tr>

        <td at-implicit at-sortable at-attribute="apellido" width="150" at-initial-sorting="asc"></td>
        <td at-implicit at-sortable at-attribute="nombre"  width="250"></td>
        <td at-implicit at-sortable at-attribute="email"></td>
      </tr>
      </tbody>
    </table>

    <at-pagination at-list="list" at-config="config"></at-pagination>
  </div>
</div>
