<div class="container">
  <div class="input-form-container">
    <button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
      <i class="glyphicon glyphicon-plus">
      </i> Add random item
    </button>

    <table st-table="displayedUsuarios" st-safe-src="usuarios" class="table table-stripped">
      <thead>
      <tr class="success">
        <th st-sort="usuario.apellido">APELLIDO</th>
        <th st-sort="usuario.nombre">NOMBRE</th>
        <th st-sort="usuario.email">E-MAIL</th>
      </tr>
      <tr>
        <th colspan="5"><input st-search="" class="form-control" placeholder="Búsqueda global ..." type="text"/></th>
      </tr>
      </thead>
      <tbody>
      <tr class="warning" ng-repeat="usuario in usuarios">
        <td>{{usuario.apellido}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.email}}</td>
        <td>
          <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-remove-circle">
            </i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
