<div class="container">
  <div class="input-form-container">
    <button type="button"  ng-click="isCollapsed = !isCollapsed" class="btn btn-sm btn-success"> <i
      class="glyphicon glyphicon-plus"> </i> Agregar Teatro
    </button>
    <div collapse="isCollapsed">


      <form class="form-horizontal col-sm-offset-3" ng-submit=agregar() novalidate="novalidate">
        <div class="form-group">
            <div class="col-md-8">
              <input  ng-model="teatro.nombre" type="text" placeholder="Ingrese un nombre" class="form-control input-md"
                      ng-minlength="3"
                      ng-maxlength="15"
                      required
                      required-err-type="requiredName"
                      ng-minlength-err-type="minLength"
                      ng-maxlength-err-type="maxLength"/>
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-8">
              <input  ng-model="teatro.direccion" type="text" placeholder="Ingrese una direccion" class="form-control input-md"
                      ng-minlength="3"
                      ng-maxlength="20"
                      required
                      required-err-type="requiredAddress"
                      ng-minlength-err-type="minLength"
                      ng-maxlength-err-type="maxLength"/>
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary :hover">Aceptar</button>
        </form>
      </div>
    </div>
   <p></p>
    <table class="table table-striped">

      <thead> 

       
      <tr> 

        <th ng-click="sort('nombre');reverseSort = !reverseSort">Nombre
          <span class="glyphicon sort-icon" ng-show="sortKey=='nombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('direccion');reverseSort = !reverseSort">Direccion
          <span class="glyphicon sort-icon" ng-show="sortKey=='direccion'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th></th>
        <th></th>
         
      </tr>
       
      </thead>

      <tbody>
      <tr dir-paginate="teatro in teatros |orderBy:sortKey:reverseSort|itemsPerPage: 5">
        <td>{{teatro.nombre}}</td>
        <td>{{teatro.direccion}}</td>
        <td>
          <a class="btn btn-sm btn-danger"  href="#/teatro/editar/{{teatro.id}}"> <i class="glyphicon glyphicon-edit"></i> </a>
        </td>
        <td>
          <button type="button" ng-click="eliminar({{teatro}})" class="btn btn-sm btn-danger"> <i
           class="glyphicon glyphicon-remove-circle"> </i>
         </button>

       </td>
      </tr>

      </tbody>

    </table>

  <dir-pagination-controls>
    max-size="5"
    direction-links="true"
    boundary-links="true" >
  </dir-pagination-controls>

  </div>







