<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/300x200" alt="...">
        <div class="caption">
          <h3>PainKiller</h3>
          <p>Favio Posca se presenta en su nuevo espectaculo</p>
          <p>

            <a href="#" class="btn-info btn-lg" role="button">
              <span class="glyphicon glyphicon-info-sign"></span> Más información
            </a>

          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/300x200" alt="...">
        <div class="caption">
          <h3>PainKiller</h3>
          <p>Favio Posca se presenta en su nuevo espectaculo</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Botón</a>
            <a href="#" class="btn btn-default" role="button">Botón</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <p></p>



</div>


