<div class="container">

  <div id="search-bar "class="navbar-form" role="search">

    <div class="input-group">

      <input type="text" class="form-control" placeholder="Encuentre lo mejor del teatro..." ng-model="busqueda" id="srch-term">
      <div class="input-group-btn">


       <button  ng-click="search()" class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i> </button>


        <!--<a href="#/busquedaespectaculosfiltrados/{{ bu }}" class="btn btn-lg btn-warning" role="button">-->
        </a>

      </div>

    </div>


  </div>

    <a ng-show="authenticated==true && roles=='ROLE_ADMINISTRADOR'" href="#/espectaculo/agregar" class="btn btn-lg" role="button">
      <span class=" btn btn-success btn-lg">Agregar Espectaculo</span>
    </a>





  <div class="row">
    <div ng-repeat="espectaculo in espectaculos track by espectaculo.id" class="col-sm-6 col-md-4">

      <div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="...">
      <div class="caption">

        <h3>{{espectaculo.nombre}}</h3>
        <p>{{espectaculo.descripcion}}</p>


        <p>
          <a ng-show="roles=='ROLE_ADMINISTRADOR'" href="#/espectaculo/editar/{{espectaculo.id}}" class="btn btn-lg btn-warning" role="button">
            <span class="glyphicon glyphicon-edit"></span> Editar
          </a>
          <a ng-show="roles=='ROLE_ADMINISTRADOR'" href="" ng-click="eliminar({{espectaculo}})"  class="btn btn-lg btn-danger" data-toggle="modal" data-target="#confirm-delete" role="button">
            <span class="glyphicon glyphicon-erase"></span> Eliminar
          </a>
          <a ng-show="roles=='ROLE_ADMINISTRADOR'" href="#/espectaculo/info/{{espectaculo.id}}"  class="btn btn-lg btn-danger" data-toggle="modal" data-target="#confirm-delete" role="button">
            <span class="glyphicon glyphicon-erase"></span> Prueba
          </a>


          <a ng-hide="roles=='ROLE_ADMINISTRADOR'" href="#" class="btn-info btn-lg" role="button">
            <span class="glyphicon glyphicon-info-sign"></span> Más información
          </a>


        </p>
      </div>
    </div>
    </div>





  </div>

  <p></p>




</div>


