<div class="container">
  <div class="input-form-container"> 
    <h3> MIS COMPRAS</h3>
    <div ng-repeat="compra in compras" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{compra.funcionId}}</h3>
  </div>
  <div class="panel-body">
    <p>{{compra.monto}}</p>
    <p>{{compra.cuotas}}</p>

  </div>
  </div>
  </div>
</div>


<!--

<div class="container">
  <div class="input-form-container"> 
    <h3> MIS COMPRAS</h3>
    <div ng-repeat="compra in compras" class="panel panel-primary">
      <h3 class="panel-title">{{ compra.cuotas }}</h3>
      <h3 class="panel-title">{{ compra.monto }}</h3>

    </div>



  </div>
</div>
</div>
-->
