<div class="container">
  <div class="input-form-container"> 
    <h3> MIS COMPRAS</h3>
    <strong> A continuación te mostramos el detalle de las últimas compras que realizaste</strong>
    <div ng-repeat="compra in compras" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{compra.nombreEspectaculo}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <strong>&nbsp  Precio: </strong>${{compra.monto }}
    </div>
    <div class="row">
        <strong>&nbsp Fecha: </strong>{{compra.funcion.fecha| date:'fullDate'}}
    </div>
    <div class="row">
        <strong>&nbsp Hora:  </strong>{{compra.funcion.hora| date:'"HH:mm'}}
    </div>
    <div class="row">
       <strong>&nbsp Cantidad de Asientos: </strong> {{ compra.asientos.length}}



  </div>
      </div>
  </div>
  </div>
</div>

<!--

<div class="container">
  <div class="input-form-container"> 
    <h3> MIS COMPRAS</h3>
    <div ng-repeat="compra in compras" class="panel panel-primary">
      <h3 class="panel-title">{{ compra.cuotas }}</h3>
      <h3 class="panel-title">{{ compra.monto }}</h3>

    </div>



  </div>
</div>
</div>
-->
